body {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: 'Sunflower', sans-serif;
}

#wrapper {
	width: 100%;
	height: 4000px;
}

#landing {
	background-image: url(https://s33.postimg.cc/v4raijlxr/Copy_of_D5_S_3787.jpg);
	background-size: cover;
	height: 100vh;
}

nav {
	position: fixed;
	width: 100%;
	display: grid;
	grid-template-columns: 30% 70%;
	z-index: 999;
	transition: all 0.3s ease;
	background-color: rgba(255,255,255, 0.2);
}
.addNav {
	background-color: rgba(255,255,255, 0.1);
	padding: 0px;
}

nav ul {
	width: 85%;
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    	transition: all 0.3s;
}
.navUl {
	width: 100%;
	font-size: 0.75em;
}

nav ul li {
    	transition: all 0.3s;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 1em;
	letter-spacing: 1px;
	transition: all 0.2s;
}

nav ul li a:hover, #follow:hover, .dropdownContent a:hover {
	color: #000;
}

#logo {
	width: 50%;
	padding: 10px;
	background-color: black;
}

#logoContent {
	display: none;
	width: 100%;
	height: 100%;
	background-color: black;
	cursor: pointer;
	/* delete later */
	text-align: center;
	font-size: 1.3em;
	color: white;
}



.dropdown {
	display: none;
	position: fixed;
	text-align: right;
	right: 10%;
	transition: all 0.3s;
}
.addDropdown {
	display: none;
	position: fixed;
	text-align: right;
	right: 3%;
	margin-top: 0;
}

.dropdownContent {
	display: inline-block;
	text-decoration: none;
	font-size: 1em;
	padding: 10px;
	transition: all 0.3s;
}
.addDropdownContent{
	font-size: 0.75em;
}

.dropdownContent a {
	text-decoration: none;
	color: #fff;
}
.dropdownContent a:hover {
	text-decoration: underline;
}



