* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Sunflower', sans-serif;

}

#wrapper {
	width: 100%;
	height: 3000px;
	position: relative;
	background-color: #001a00;
}


#landing {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-image: url(https://s33.postimg.cc/v4raijlxr/Copy_of_D5_S_3787.jpg);
	background-size: cover;
	background-attachment: fixed;
}

nav {
	position: absolute;
	width: 100%;
	bottom: 0;
	display: grid;
	grid-template-columns: 25% 50% 25%;

}
.addNav {
	position: fixed;
	top: 0;
}

nav ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

}

nav ul li {
	list-style-type: none;
	text-align: center;
	border-top: 3px solid rgba(255, 255, 255, 0.2);
	transition: all 0.3s;
	padding: 0;
	height: auto;
	position: relative;
}

nav ul li:hover {
	border-top: 3px solid rgba(0, 0, 0, 0.3);
	background-color: rgba(255, 255, 255, 0.05);
}

nav ul li a {
	color: #fff;
	font-size: 1.1em;
	text-decoration: none;
	display: inline-block;
	width: 100%;
	padding: 15px;
	color: #d1d1d1;
	background-color: rgba(255, 255, 255, 0.01);
}

nav ul li a:hover {
	color: #fff;
}

#midText {
	position: absolute;
	top: 20%;
	left: 25%;
	font-size: 2.4em;
	margin: 0 auto;
	color: white;
	letter-spacing: 2px;

}

.midContent {
	opacity: 0;
	left: -100px;
	position: relative;

}

.midContent h1 {
	font-family: 'Roboto';
	font-weight: 100;
	color: #d1d1d1;
}

#midLogo {
	display: none;
	position: absolute;
	bottom: -6px;
	width: 20%;
	left: 10px;
}
#midLogo img {
	width: 100%;
}







#buttons {
	position: absolute;
	right: 10px;
	top: 10px;
}

.buttons{
	width: 150px;
	height: 25px;
	background-color: red;
	margin: 20px;.
	color: aqua;
	background-color: orange;
	text-align: center;
	padding: 5px;
	cursor: pointer;
}
